{% if not context.async %}
    {% extends "base.html" %}
{% endif %}
{% block content %}
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
    <div id="cartoMap"></div>
    <script type="text/javascript">
        cartoMap = function() {
           cartodb.createVis('cartoMap', 'http://documentation.carto.com/api/v2/viz/2b13c956-e7c1-11e2-806b-5404a6a683d5/viz.json').done(function(vis, layers) {
              // layer 0 is the base layer, layer 1 is cartodb layer
              // setInteraction is disabled by default
              layers[1].setInteraction(true);
              layers[1].on('featureOver', function(e, latlng, pos, data) {
                cartodb.log.log(e, latlng, pos, data);
              });
              // you can get the native map to work with it
              var map = vis.getNativeMap();
              // now, perform any operations you need
              // map.setZoom(3);
              // map.panTo([50.5, 30.5]);
            })
            .error(function(err) {
              console.log(err);
            });
        }
        cartoMap();
    </script>
{% endblock content %}